./databases/cifar-10-python.tar
./env/lib/python3.4/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so
./env/lib64/python3.4/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so
*.pyc
